.BurgerIngredients {
    display: flex;
    flex-direction: column;
    height: 1fr;
    position: relative;
}

.tabContainer {
    display: flex;
    flex-direction: row;
}

.ingredientList {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
    justify-items: center;
}