.main {
  margin: 0 auto;
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1280px;
}

.navLink {
  color: #4C4CFF;
  text-decoration: none;
}

.formRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
